
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}




































/*!* config.css *!*/

/*:root {*/
/*    --baseColor: #606468;*/
/*}*/

/*!* helpers/align.css *!*/

/*.align {*/
/*    display: grid;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    justify-items: center;*/
/*    place-items: center;*/
/*}*/

/*.grid {*/
/*    width: 90%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 20rem;*/
/*}*/

/*!* helpers/hidden.css *!*/

/*.hidden {*/
/*    border: 0;*/
/*    clip: rect(0 0 0 0);*/
/*    height: 1px;*/
/*    margin: -1px;*/
/*    overflow: hidden;*/
/*    padding: 0;*/
/*    position: absolute;*/
/*    width: 1px;*/
/*}*/

/*!* helpers/icon.css *!*/

/*:root {*/
/*    --iconFill: var(--baseColor);*/
/*}*/

/*.icons {*/
/*    display: none;*/
/*}*/

/*.icon {*/
/*    height: 1em;*/
/*    display: inline-block;*/
/*    fill: #606468;*/
/*    fill: var(--iconFill);*/
/*    width: 1em;*/
/*    vertical-align: middle;*/
/*}*/

/*!* layout/base.css *!*/

/*:root {*/
/*    --htmlFontSize: 100%;*/

/*    --bodyBackgroundColor: #2c3338;*/
/*    --bodyColor: var(--baseColor);*/
/*    --bodyFontFamily: "Open Sans";*/
/*    --bodyFontFamilyFallback: sans-serif;*/
/*    --bodyFontSize: 0.875rem;*/
/*    --bodyFontWeight: 400;*/
/*    --bodyLineHeight: 1.5;*/
/*}*/

/** {*/
/*    -webkit-box-sizing: inherit;*/
/*    box-sizing: inherit;*/
/*}*/

/*html {*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    font-size: 100%;*/
/*    font-size: var(--htmlFontSize);*/
/*}*/

/*body {*/
/*    background-color: #2c3338;*/
/*    background-color: var(--bodyBackgroundColor);*/
/*    color: #606468;*/
/*    color: var(--bodyColor);*/
/*    font-family: "Open Sans", sans-serif;*/
/*    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);*/
/*    font-size: 0.875rem;*/
/*    font-size: var(--bodyFontSize);*/
/*    font-weight: 400;*/
/*    font-weight: var(--bodyFontWeight);*/
/*    line-height: 1.5;*/
/*    line-height: var(--bodyLineHeight);*/
/*    margin: 0;*/
/*    min-height: 100vh;*/
/*}*/

/*!* modules/anchor.css *!*/

/*:root {*/
/*    --anchorColor: #eee;*/
/*}*/

/*a {*/
/*    color: #eee;*/
/*    color: var(--anchorColor);*/
/*    outline: 0;*/
/*    text-decoration: none;*/
/*}*/

/*a:focus,*/
/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*!* modules/form.css *!*/

/*:root {*/
/*    --formGap: 0.875rem;*/
/*}*/

/*input {*/
/*    background-image: none;*/
/*    border: 0;*/
/*    color: inherit;*/
/*    font: inherit;*/
/*    margin: 0;*/
/*    outline: 0;*/
/*    padding: 0;*/
/*    -webkit-transition: background-color 0.3s;*/
/*    -o-transition: background-color 0.3s;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*input[type="submit"] {*/
/*    cursor: pointer;*/
/*}*/

/*.form {*/
/*    display: grid;*/
/*    grid-gap: 0.875rem;*/
/*    gap: 0.875rem;*/
/*    grid-gap: var(--formGap);*/
/*    gap: var(--formGap);*/
/*}*/

/*.form input[type="password"],*/
/*.form input[type="text"],*/
/*.form input[type="submit"] {*/
/*    width: 100%;*/
/*}*/

/*.form__field {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*}*/

/*.form__input {*/
/*    -webkit-box-flex: 1;*/
/*    -ms-flex: 1;*/
/*    flex: 1;*/
/*}*/

/*!* modules/login.css *!*/

/*:root {*/
/*    --loginBorderRadus: 0.25rem;*/
/*    --loginColor: #eee;*/

/*    --loginInputBackgroundColor: #3b4148;*/
/*    --loginInputHoverBackgroundColor: #434a52;*/

/*    --loginLabelBackgroundColor: #363b41;*/

/*    --loginSubmitBackgroundColor: #ea4c88;*/
/*    --loginSubmitColor: #eee;*/
/*    --loginSubmitHoverBackgroundColor: #d44179;*/
/*}*/

/*.login {*/
/*    color: #eee;*/
/*    color: var(--loginColor);*/
/*}*/

/*.login label,*/
/*.login input[type="text"],*/
/*.login input[type="password"],*/
/*.login input[type="submit"] {*/
/*    border-radius: 0.25rem;*/
/*    border-radius: var(--loginBorderRadus);*/
/*    padding: 1rem;*/
/*}*/

/*.login label {*/
/*    background-color: #363b41;*/
/*    background-color: var(--loginLabelBackgroundColor);*/
/*    border-bottom-right-radius: 0;*/
/*    border-top-right-radius: 0;*/
/*    padding-left: 1.25rem;*/
/*    padding-right: 1.25rem;*/
/*}*/

/*.login input[type="password"],*/
/*.login input[type="text"] {*/
/*    background-color: #3b4148;*/
/*    background-color: var(--loginInputBackgroundColor);*/
/*    border-bottom-left-radius: 0;*/
/*    border-top-left-radius: 0;*/
/*}*/

/*.login input[type="password"]:focus,*/
/*.login input[type="password"]:hover,*/
/*.login input[type="text"]:focus,*/
/*.login input[type="text"]:hover {*/
/*    background-color: #434a52;*/
/*    background-color: var(--loginInputHoverBackgroundColor);*/
/*}*/

/*.login input[type="submit"] {*/
/*    background-color: #ea4c88;*/
/*    background-color: var(--loginSubmitBackgroundColor);*/
/*    color: #eee;*/
/*    color: var(--loginSubmitColor);*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*}*/

/*.login input[type="submit"]:focus,*/
/*.login input[type="submit"]:hover {*/
/*    background-color: #d44179;*/
/*    background-color: var(--loginSubmitHoverBackgroundColor);*/
/*}*/

/*!* modules/text.css *!*/

/*p {*/
/*    margin-top: 1.5rem;*/
/*    margin-bottom: 1.5rem;*/
/*}*/

/*.text--center {*/
/*    text-align: center;*/
/*}*/
