<div >
  <section id="cart-header" class="pt-5 mt-5 container text-center">
    <h2 class="font-weight-bold pt-5">DANH SÁCH XE BẠN CHỌN</h2>
  </section>
  <hr>

  <section id="cart-container" class="container my-5 ">
    <table width="100%">
      <thead>
      <tr>
        <td>remove</td>
        <td>Image</td>
        <td>Product</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Total</td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
        <td><img src="../../assets/images/car-image-1.jpg" alt=""></td>
        <td><h5>ABC</h5></td>
        <td><h5>$200</h5></td>
        <td><input class="w-25 pl-1" value="1" type="number"></td>
        <td><h5>$300,000</h5></td>
      </tr>
      <tr>
        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
        <td><img src="../../assets/images/car-image-2.png" alt=""></td>
        <td><h5>ABC</h5></td>
        <td><h5>$200</h5></td>
        <td><input class="w-25 pl-1" value="1" type="number"></td>
        <td><h5>$300,000</h5></td>
      </tr>
      <tr>
        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
        <td><img src="../../assets/images/car-image-3.jpg" alt=""></td>
        <td><h5>ABC</h5></td>
        <td><h5>$200</h5></td>
        <td><input class="w-25 pl-1" value="1" type="number"></td>
        <td><h5>$300,000</h5></td>
      </tr>
      </tbody>
    </table>
  </section>

  <section id="cart-bottom" class="container py-5">
    <div class="row">
      <div class="coupon col-lg-6 col-md-6 col-12 mb-4">
        <div>
          <h5>COUPON</h5>
          <p>Vui lòng điền mã coupon</p>
          <input type="text" placeholder="Coupon code">
          <button class="btn btn-warning">Áp dụng mã</button>
        </div>
      </div>

      <div class="total col-lg-6 col-md-6 col-12">
        <div>
          <h5>Cart Total</h5>
          <div class="d-flex justify-content-between">
            <h6>Subtotal</h6>
            <p>$250</p>
          </div>
          <div class="d-flex justify-content-between">
            <h6>Shipping</h6>
            <p>$250</p>
          </div>
          <hr class="second-hr">

          <div class="d-flex justify-content-between">
            <h6>Total</h6>
            <p>$250</p>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-warning" >Proceed To Checkout</button>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
