<div>
  <section id="cart-header" class="pt-5 mt-5 container text-center">
    <h2 class="font-weight-bold pt-5">DANH SÁCH XE BẠN CHỌN</h2>
  </section>
  <hr>

  <section id="cart-container" class="container my-5 ">
    <table width="100%">
      <thead>
      <tr>
        <td>Xoá</td>
        <td>Hình ảnh</td>
        <td>Tên xe</td>
        <td>Đơn giá</td>
        <td>Ngày đi</td>
        <td>Ngày về</td>
        <td>Số ngày</td>
        <td>Thành tiền (vnd)</td>
      </tr>
      </thead>

      <tbody>
      <tr *ngIf="message">
        <td colspan="8"><h3 style="color:#ffc107; font-weight: bold; font-style: italic ">{{message}}</h3></td>
      </tr>
      <tr *ngFor="let item of cart">
        <td><a (click)="deleteCartItem(item.id)"><i class="fas fa-trash-alt"></i></a></td>
        <td><img src="{{item.imageList[0].link}}" alt=""></td>
        <td><h5>{{item.imageList[0].car.brand}} {{item.imageList[0].car.model}}</h5></td>
        <td><h5>{{VND.format(item.imageList[0].car.price)}}</h5></td>
        <td><h5>{{item.pickupDate}}</h5></td>
        <td><h5>{{item.returnDate}}</h5></td>
        <td><h5>{{item.diffDays}}</h5></td>
        <td><h5>{{VND.format(item.totalPrice)}}</h5></td>
      </tr>
      </tbody>
    </table>
  </section>


  <section id="cart-bottom" class="container py-5">
    <div class="row">
      <div class="coupon col-lg-6 col-md-6 col-12 mb-4">
        <div>
          <h5>COUPON</h5>
          <p>Vui lòng điền mã coupon</p>
          <input type="text" placeholder="Coupon code">
          <button class="btn btn-warning">Áp dụng mã</button>
        </div>
      </div>

      <div class="total col-lg-6 col-md-6 col-12">
        <div>
          <h5>Tổng tiền thanh toán</h5>
          <div class="d-flex justify-content-between">
            <h6>Thành tiền
            </h6>
            <p>{{VND.format(totalBeforeTax)}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <h6>Thuế VAT (10%)</h6>
            <p>{{VND.format(totalBeforeTax / 10)}}</p>
          </div>
          <hr class="second-hr">

          <div class="d-flex justify-content-between">
            <h6>Tổng tiền</h6>
            <h4>{{VND.format(totalAfterTax)}}</h4>
          </div>
          <div class="d-flex justify-content-end">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- Modal payment-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn thanh toán chưa?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Xem lại</button>
        <button (click)="onPayment();" data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                class="btn btn-warning" data-bs-dismiss="modal">Thanh toán
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal paypal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Chọn phương thức thanh toán</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="myPaypal"></div>
      </div>
      <div class="modal-footer">
        <button id="modal-payment-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
